:root {
  --g: rgb(110, 118, 125); 
  --b: rgb(47, 51, 54);
  --w: rgb(217, 217, 217)
}

* {
  box-sizing: border-box; 
}

html, body {
  color: var(--w);
  background: var(--b);
  min-height: 100%;
}

div {
  margin-bottom: 0.5rem;
}

.button {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.results {
  text-align: center;
}

.container {
  max-width: 33vw;
  margin: auto;
  padding: 1rem;
  background: var(--b);
}

.header {
  display: flex;
  justify-content: space-between;
}

.header div {
  margin-bottom: 0;
}

.user {
  display: flex;
}
  
.user_icon {
  width: 3rem;
  height: 3rem;
  background: var(--g);
  border-radius: 50%;
}

.user_icon img {
  width: auto;
  height: 100%;
}

.user_name {
  font-weight: bold;
}

.user_profile {
  margin-left: 1rem;
}
    
.user_id {
  font-size: 0.8rem;
  color: var(--g);
}

.reader {

}
  
.tweet {

}

.tweet_text {
  padding: 0.5rem 0;
}

.tweet_img img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
  
.tweet_info {

}

.time {

}

.date {
  
}
 
.client {

}

.rt {
  
}

.number {
  font-weight: bold;
}

.icons {
  display: flex;
}
